.App {
  text-align: left;
  min-height: 100vh;
  color: rgba(76,76,76,255);
}

h2 {
  margin: 0px;
}

button {
  border: none;
  border-radius: 10px;
  background-color: #62b3ff;
  padding: 10px;
  font-size: medium;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

button:disabled{
  opacity: 0.6;
  cursor: not-allowed;
}

p {
  margin: 0px;
  font-weight: 500;
}

.flexColCenterCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#header {
  width: 100%;
  background-color: rgb(185, 222, 204);
  height: 60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#logo {
  width: 60px;
}

.navButton {
  cursor: pointer;
  transition: 0.3s;
  font-weight: 700;
  font-style: italic;
}

.navButton:hover {
  opacity: 0.3;
}


#pageManagerBox {
  min-width: 250px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 25px;
}


.styled-table {
  border-collapse: collapse;
  /* margin: 25px 0; */
  width: 70%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: rgb(185, 222, 204);
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}


tr:nth-child(even) {
  color: rgb(110, 195, 184);
  /* font-weight: 100; */
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}


#customTooltip {
  background-color: rgb(230, 230, 230);
  padding: 15px;
  border-radius: 20px;
}